.userInterface {
    display: flex;
    flex-direction: column;
}

.userInterface__form {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.userInterface__form__icon {
    color: $white;
    font-size: 2rem;
    cursor: pointer;
    display: block;
    padding: 0.5rem 0.5rem;
}