.preferences {
    background-color: $white;
    width: 40vw;
    height: 60vh;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.preferences__span {
    display: block;
    padding: 1rem 0;
    font: $font;
    font-weight: bold;
    width: 40vw;
}

.preferences__typesOfDiet {
    margin-bottom: 0.5rem;
    width: 50%;
}

.preferences__typesOfDiet__select {
    width: 40%;
}