.userInterface__tableContent__table {
    border: 0.5rem solid $black;
    background-color: $white;
    max-height: 75vh;
    border-collapse: collapse;
    background-color: $white;
}

tbody tr:nth-child(even) {
    background-color: rgb(206, 201, 201);
}

.userInterface__tableContent__table__headings {
    height: 5rem;
}

th {
    border-bottom: 0.5rem solid $black;
}

tr {
    text-align: center;
}

.table_nav {
    padding-top: 2rem;
    display: flex;
}

.table_nav__icons {
    cursor: pointer;
    padding: 0 1rem;
    font-size: 2rem;
    color: $white;
}

.userInterface__tableContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
    min-width: 200px;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 0.7rem;
    letter-spacing: 0;
}

.tab {
    border-bottom: 2rem solid $gradient-green;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    height: 0;
    width: 5rem;
    cursor: pointer;
    font-weight: bold;
    font-family: $font;
    color: $white;
    text-align: center;
}